body {
    overflow: hidden;
}

.bigtitle1 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.signtitle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.formbg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DAF4FC;
    height: 88vh;
    margin-top: 30px;
}

.boxform1 {
    width: 900px;
    height: 650px;
    box-shadow: 4px 4px 13px -9px rgba(51, 49, 51, 1);
    background-color: white;
    border-radius: 6px;
}

.formbox1 {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.btn1 {
    background-color: #ca8fff;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    font-family: "Montserrat";
    margin-top: 30px;
    padding: 15px 65px;
    margin-bottom: 20px;
}

.inputsizes1 {
    width: 400px;
    margin-left: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.linklogin1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linklogin1 p {
    margin-right: 10px;
}

.input {
    margin-bottom: 20px;
}

.linklogin1 a {
    font-family: "Montserrat";
    color: #4A4A4A;
}

.linklogin1 a:hover {
    color: #9013FE;
}

.badpass1 {
    color: red;
}