/* body {
     height: 80vh;
 } */

.bigbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 450px;
    margin-top: 70px;
}

.backphotos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backphotos img {
    width: 100%;
}

.space {
    margin-bottom: 70px;
}

.AboutTitle {
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.AboutTitle img {
    height: 60px;
}

.text {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: #6c6c6c;
    margin-bottom: 70px;
}

.generaldiv {
    background-color: #ca8fff;
    height: 400px;
}

.iconpaint i {
    font-size: 100px;
    color: white;
}

.titles {
    font-size: 25px;
    font-style: bold;
}

.iconspaces {
    font: bold;
    padding-top: 70px;
    letter-spacing: 3px;
    color: white;
}

.iconpaint {
    margin-left: 300px;
    letter-spacing: 480px;
}

.textsection {
    padding: 0 70px;
    font-size: 16px;
    font-style: normal;
}