body {
    overflow: hidden;
}

.profile1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f8f9;
    height: 80vh;
}

.box-container1 {
    display: flex;
    flex-direction: column;
}

.back1 {
    display: flex;
    width: 1174px;
}

.back-link1 {
    text-decoration-line: none;
    font-size: 15px;
    justify-content: flex-start;
    left: 0;
    color: #ac8fff;
    font-weight: 500;
}

.arrow1 {
    margin-right: 5px;
}

.back-link:hover1 {
    color: #ac8fff;
    font-weight: bold;
}

.user-img1 {
    height: 74px;
    width: 74px;
    margin-top: 30px;
}

.profile-box1 {
    display: flex;
    align-items: center;
    height: 550px;
    width: 1174px;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-box1 h2 {
    margin-bottom: 15px;
}

.username1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.books-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6fafd;
    height: 350px;
    width: 400px;
    justify-content: flex-start;
    border: 1px solid silver;
}

.books-box1 h2 {
    margin-top: 30px;
}

.line1 {
    width: 300px;
    border-bottom: 1px solid silver;
}