#cuadros {
    justify-content: flex-start;
    width: 100%;
    padding: 0px 200px;
}

.artwork-title {
    width: 20px;
}

.artwork-title p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}