/* .d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.main {
    display: flex;
    height: 150px;
    margin-top: 10px;
    align-items: center;
    background-color: red;
}

.test2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
*/

img {
    display: flex;
    width: 200px;
    height: 100px;
    justify-content: center;
}

.loggedInIcons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 5%;
    margin: -70px 80px 70px 0px;
}