.topHeader {
    display: flex;
    width: 100%;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

#menu {
    width: 100%;
    display: flex;
    justify-content: center;
}