 /* .d-flex {
    width: auto;
    margin-left: 5rem;
    margin-right: 5rem;
    height: 5vh;
    align-items: center;
    background-color: red; 
}  */
 
 .link {
     text-decoration: none;
     color: #4a4a4a;
 }
 
 .link:hover {
     text-decoration: none;
     color: #4a4a4a;
 }